:root {
    --rem: 15;
}

* {
    box-sizing: border-box;
    transition: .2s;
    font-family: Roboto, sans-serif;
}
body {
    background: #157;
    color: #eee;
}

h1, h2, h3, h4, h5, h6 {
    text-indent: 20px;
}

a {
    text-decoration: none;
    color: #eee;
    font-weight: 500;
    margin: 5px;
}
a:hover {
    font-size: 1.1rem;
}

form {
    width: 90vw;
    margin: auto;
    padding: 20px 2px;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #111 inset;
}
form {
    background: white;
    color: #111;
}

button[type="submit"] {
    display: block;
    background: none;
    padding: 8px 15px;
    border: 2px solid #157;
    color: #157;
    border-radius: 5px;
    margin-top: 60px;
    margin-left: 30px;
    font-size: 1rem;
    font-weight: 500;
}
button[type="submit"]:hover {
    font-size: 1.2rem;
    padding: 7px 12px;
}
button[type="submit"]:active {
    font-size: 0.8rem;
    padding: 9px 18px;
}

.select-method-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.select-method-instructions {
    font-size: 1.2rem;
}
.select-method-div > label {
    display: block;
    padding: 4px;
    cursor: pointer;
}


label {
    margin: 6px;
}

.checkbox-container {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

label:has(input[type="checkbox"]) {
    font-size: .94rem;
    margin: 13px 0;
    padding: 10px 5px;
    cursor: pointer;
}

.select-file {
    display: none;
}
.select-method-div:has(input[value="True"]:checked) > .select-file {
    display: block;
}

.grading-term {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

label:has(select), select, option {
    font-size: .94rem;
}

select {
    border-radius: 4px;
}

textarea {
    display: block;
    margin: 15px;
    padding: 7px;
    border-radius: 4px;
    font-size: 1rem;
}

.records {
    width: 90vw;
    margin: 5px auto 20px;
    padding: 20px 8px;
    border-radius: 10px;
}
.records {
    background: white;
    color: #111;
    box-shadow: 0 0 5px 2px #111 inset;
}

.record-grades {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
}

.info-text {
    width: min(600px, 80%);
    margin: auto;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: left;
}