<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projection</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body class="ubuntu-regular">
    <div class="container">
        
        <div class="title1 ubuntu-bold">
            <h1>Discover Your Path with Zaara</h1>
        </div>
        
        <div class="academic-section">
            
            <div class="title2">
                <h2>Latest Research</h2>
            </div>

            <div class="description">
                <p>
                    Don't know what's next?We got you.Our team has recently developed an module specifically trained to analyze 8-4-4 transcripts and provide Major recommendations.Upload your transcript and head over to your chat box to check it out!
                </p>
            </div>
            
        </div>
        
        <div class="academic-section">

            <div class="title2">
                <h2>Upcoming Events</h2>
            </div>

            <div class="description">
                <p style="text-align: center;">To predict students' career interests based on their academic performance &amp; interests</p>
            </div>
            
            
        </div>
        <!-- Add more academic content here -->
    </div>
    {% block body %}{% endblock %}
    
    <!-- Chatbot widget -->
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script>
        window.embeddedChatbotConfig = {
        chatbotId: "-qBmMWmmgN2Ap1vBUXCjF",
        domain: "www.chatbase.co"
        }
        </script>
        <script
        src="https://www.chatbase.co/embed.min.js"
        chatbotId="-qBmMWmmgN2Ap1vBUXCjF"
        domain="www.chatbase.co"
        defer>
        </script>
</body>
</html>
